*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    #logo img{
        width: 100px;
        height: 100px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    #bord{
        width: 100%;
        height: 20px;
        background-color:#0282f9;
    }

    li {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 10px;

        a {
            color: black;
            text-decoration: none;
            line-height: 150px;
            display: inline-block;

            &.active {
                border-bottom: 5px solid #0282f9;
                color: #0282f9;
            }
        }
    }
}
#jumbo {
    height: 400px;
    overflow-y: hidden;
    text-align: center;

    img {
        width: 100%;
    }
}

#banner {
        
    background-color: #0282f9;

    .container {

        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        
        div {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100px;
                height: 70px;
            }
            img.smaller {
                height: 50px;
            }

            span {
                text-transform: uppercase;
                color: white;
                margin-left: 10px;
            }
        }
    }
}

#cards {

    padding: 50px 0 20px;
    background-color: #1c1c1c;
    position: relative;
    color: white;
    a{
        text-decoration: none; 
        color: white; 
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
        margin: 10px 0 20px;
    }
    .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

        .card {
            width: 15%;

            .img-container {
                padding-top: 100%;
                position: relative;
                overflow-y: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                }
            }
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            margin: 10px 0 20px;
        }
    }

    .btn {
        background-color: #0282f9;
        color: white;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        padding: 10px 0;
        cursor: pointer;
        font-weight: bold;

        &.series {
            position: absolute;
            left: 10%;
            top: -20px;
            font-size: 20px;
        }

        &.more {
            margin: 30px auto 0;
            font-size: 14px;
        }
    }
}
footer {

    #footer-top {
        background-color:#303030;
        height: 250px;
        position: relative;
        .container {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            height: 300px;
            img{
                width: 400px;
                height: 300px;
                object-fit: cover;
                position: absolute;
                top:-50px;
                right: 300px;
            }

            nav {
                margin: 0 10px 20px 0;
                width: 150px;

                h3 {
                    text-transform: uppercase;
                    color: white;
                    margin-bottom: 5px;
                }

                ul {
                    list-style-type: none;

                    a {
                        font-size: 12px;
                        color: grey;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #footer-bottom {
        background-color: #1b1b1b;
        .container {
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn {
                color: white;
                text-transform: uppercase;
                padding: 10px;
                border: 2px solid #0282f9;
            }

            #social {

                display: flex;
                align-items: center;

                .text {
                    color: #0282f9;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 10px;
                }

                .icons {

                    img {
                        height: 30px;
                        margin: 0 10px;
                    }          
                }
            }


        }
    }
    
}
