.bord_blue {
  height: 50px;
  background-color: #0282f9;
}

#card_dettaglio {
  width: 80%;
  height: 400px;
  margin: auto;
  padding: 50px 0 20px;
  background-color: #ffffff;
  position: relative;
  color: black;
}

#card_dettaglio p {
  font-size: 30px;
  font-weight: bold;
}

#card_dettaglio .text {
  width: 65%;
}

#card_dettaglio .text span {
  font-size: 20px;
}

#card_dettaglio .container_bord {
  display: flex;
}

#card_dettaglio .bord_green {
  width: 50%;
  height: 50px;
  background-color: #55ba59;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#card_dettaglio .bord_green span {
  color: #a5e65e;
}

#card_dettaglio .bord_green span .color {
  color: white;
}

#card_dettaglio .bord_ {
  width: 15%;
  height: 50px;
  background-color: #55ba59;
  border: solid 1px black;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  font-weight: bold;
}

#card_dettaglio a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0 20px;
}

#card_dettaglio .container .card {
  width: 200px;
  height: 300px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

#card_dettaglio .container .card .img-container {
  padding-top: 100%;
  position: relative;
}

#card_dettaglio .container .card .img-container img {
  position: absolute;
  top: -530px;
  left: -100px;
  width: 100%;
  height: 100%;
  background-size: contain;
  border: 1px solid white;
}

#banner_dettaglio {
  background-color: #0282f9;
}

#banner_dettaglio .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#banner_dettaglio .container div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner_dettaglio .container div img {
  width: 100px;
  height: 70px;
}

#banner_dettaglio .container div img.smaller {
  height: 50px;
}

#banner_dettaglio .container div span {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header #logo img {
  width: 100px;
  height: 100px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

header #bord {
  width: 100%;
  height: 20px;
  background-color: #0282f9;
}

header li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 10px;
}

header li a {
  color: black;
  text-decoration: none;
  line-height: 150px;
  display: inline-block;
}

header li a.active {
  border-bottom: 5px solid #0282f9;
  color: #0282f9;
}

#jumbo {
  height: 400px;
  overflow-y: hidden;
  text-align: center;
}

#jumbo img {
  width: 100%;
}

#banner {
  background-color: #0282f9;
}

#banner .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

#banner .container div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .container div img {
  width: 100px;
  height: 70px;
}

#banner .container div img.smaller {
  height: 50px;
}

#banner .container div span {
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

#cards {
  padding: 50px 0 20px;
  background-color: #1c1c1c;
  position: relative;
  color: white;
}

#cards a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0 20px;
}

#cards .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#cards .container .card {
  width: 15%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0 20px;
}

#cards .container .card .img-container {
  padding-top: 100%;
  position: relative;
  overflow-y: hidden;
}

#cards .container .card .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
}

#cards .btn {
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
}

#cards .btn.series {
  position: absolute;
  left: 10%;
  top: -20px;
  font-size: 20px;
}

#cards .btn.more {
  margin: 30px auto 0;
  font-size: 14px;
}

footer #footer-top {
  background-color: #303030;
  height: 250px;
  position: relative;
}

footer #footer-top .container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 300px;
}

footer #footer-top .container img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -50px;
  right: 300px;
}

footer #footer-top .container nav {
  margin: 0 10px 20px 0;
  width: 150px;
}

footer #footer-top .container nav h3 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 5px;
}

footer #footer-top .container nav ul {
  list-style-type: none;
}

footer #footer-top .container nav ul a {
  font-size: 12px;
  color: grey;
  text-decoration: none;
}

footer #footer-bottom {
  background-color: #1b1b1b;
}

footer #footer-bottom .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #footer-bottom .container .btn {
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #0282f9;
}

footer #footer-bottom .container #social {
  display: flex;
  align-items: center;
}

footer #footer-bottom .container #social .text {
  color: #0282f9;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}

footer #footer-bottom .container #social .icons img {
  height: 30px;
  margin: 0 10px;
}

